@model PlanViewModel

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center">Materias del plan: @Model.Descripcion</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center text-md-left p-2">
            <a asp-controller="Materia" asp-action="Nuevo" asp-route-id="@Model.Id" class="btn btn-primary">Crear Materia</a>
            <a asp-controller="Plan" asp-action="Index"  class="btn btn-secondary">Volver a planes</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <table id="table" class="table table-dark table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Materias)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td class="text-center">
                        <a class="btn btn-primary btn-sm" title="Editar materia" asp-action="Editar" asp-route-id="@item.Id"><i class="fa fa-pencil fa-sm" aria-hidden="true"></i></a>
                        <a class="btn btn-danger btn-sm" title="Borrar borrar" asp-action="Borrar" asp-route-id="@item.Id"><i class="fa fa-trash fa-sm" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            let table = new DataTable('#table', {
                language: {
                    "emptyTable": "No existen materias registrados en el plan",
                    "search": "Buscar: ",
                    "zeroRecords": "No se han encontrado especialidades en la búsqueda",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                responsive: true,
                pageLength: 5,
                lengthChange: false,
                info: false,
            });
        });
    </script>
}