@using Business.Util
@model IEnumerable<UI.Web.Models.PersonaViewModel>

@{
    ViewData["Title"] = "Index";
}

@{
    var tipo = TipoPersonaEnum.ALUMNO;
}

<p>

    <partial for="@tipo" name="_HeaderPersona" />
</p>
<div class="container-fluid">

    <table id="table" class="table table-dark table-striped  nowrap " style="width:100%;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Legajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="text-wrap">
            <td>
                @Html.DisplayFor(modelItem => item.Legajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                    <a class="btn btn-primary btn-sm" title="Editar" asp-action="Editar" asp-route-id="@item.Id"><i class="fa fa-pencil fa-sm" aria-hidden="true"></i></a>
                    <a class="btn btn-danger btn-sm" title="Borrar" asp-action="Borrar" asp-route-id="@item.Id"><i class="fa fa-trash fa-sm" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            let table = new DataTable('#table', {
                language: {
                    "emptyTable": "No existen alumnos registrados",
                    "search": "Buscar: ",
                    "zeroRecords": "No se han encontrado especialidades en la busqueda",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                responsive: true,
                pageLength: 5,
                lengthChange: false,
                info: false,
            });
        });
    </script>

}