@model IEnumerable<UI.Web.Models.PersonaViewModel>
@using Business.Util
@{
    ViewData["Title"] = "Profesores";
}
@{
    var personaEnum = TipoPersonaEnum.PROFESOR;
}
<p>

    <partial for="@personaEnum" name="_HeaderPersona" />
</p>
<table id="table" class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Legajo)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Legajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                <a class="btn btn-primary" title="Editar profesor" asp-action="Editar" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a class="btn btn-secondary" title="Ver todos los datos" asp-action="Detalles" asp-route-id="@item.Id"><i class="fa fa-eye" aria-hidden="true"></i></a>
                <a class="btn btn-danger" title="Borrar profesor" asp-action="Borrar" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts {
   
<script type="text/javascript" src="~/js/initDatatables.js">
</script>
<script>
    let columns = 
    [{}]
    init();
</script>
}


