@model UI.Web.Models.ComisionViewModel

@{
    ViewData["Title"] = "Borrar";
}

<h3 class="display-6 text-center">Borrar</h3>

<h3 class="text-center">¿Estas seguro de borrar la siguiente comisión?</h3>
<div class="row">

        <form asp-action="Borrar">
        <div class="col-md-8 col-12 col-lg-4 mx-auto">
            <dl>
                <dt class="form-label">
                    @Html.DisplayNameFor(model => model.AnioEspecialidad)
                </dt>
                <dd class="form-control">
                    @Html.DisplayFor(model => model.AnioEspecialidad)
                </dd>
            </dl>
            <dl>
                <dt class="form-label">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd class="form-control">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
            </dl>
            <dl>
                <dt class="form-label">
                    @Html.DisplayNameFor(model => model.PlanDescripcion)
                </dt>
                <dd class="form-control">
                    @Html.DisplayFor(model => model.PlanDescripcion)
                </dd>
            </dl>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <input type="submit" value="Borrar" class="btn btn-danger w-100 mb-3" />
                </div>
                <div class="col-md-6 col-lg-6">
                    <a class="btn btn-secondary  w-100 mb-3" asp-action="Index">Volver a comisiones</a>
                </div>

            </div>

            </div>




        </form>
    

</div>