@model IEnumerable<UI.Web.Models.PlanViewModel>

@{
    ViewData["Title"] = "Planes";
}
<div class="container">

<header-index action="Nuevo" title="Planes" button-text="Crear plan"></header-index>

<table id="table" class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Descripción
            </th>
            <th>
                Especialidad
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EspecialidadDescripcion)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
                        @Html.ActionLink("Detalle", "Detalle", new { id=item.Id }) |
                        @Html.ActionLink("Borrar", "Borrar", new { id=item.Id })
                    </td>
                </tr>
        }
    </tbody>
</table>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/initDatatables.js" ></script>
}
