@model IEnumerable<UI.Web.Models.PlanViewModel>

@{
    ViewData["Title"] = "Planes";
}

@{var tuple = ("Planes", "Plan");}
<partial for="@tuple" name="_HeaderGeneric" />


<div class="container">

<table id="table" class="display responsive nowrap table table-striped" style="width:100%">
    <thead>
        <tr>

            <th>
                Descripción
            </th>
            <th>
                Especialidad
            </th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EspecialidadDescripcion)
                    </td>
                    <td class="text-center">
                        <a class="btn btn-secondary btn-sm" title="Generar reporte" asp-controller="Plan" asp-action="Reporte" asp-route-id="@item.Id">Reporte Materias</a>
                      <a class="btn btn-secondary btn-sm" title="Ver materias" asp-controller="Materia" asp-action="Index" asp-route-id="@item.Id">Ver materias</a>
                      <a class="btn btn-primary btn-sm" title="Editar plan" asp-action="Editar" asp-route-id="@item.Id"><i class="fa fa-pencil fa-sm" aria-hidden="true"></i> Editar</a>
                      <a class="btn btn-danger btn-sm" title="Borrar plan" asp-action="Borrar" asp-route-id="@item.Id"><i class="fa fa-trash fa-sm" aria-hidden="true"></i> Borrar</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/initDatatables.js" ></script>

        <script>
            $(document).ready(function() {
            $('#table').DataTable( {
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [2] }
                ],
                columnDefs: [
                    { responsivePriority: 1, targets: 0 },
                    { responsivePriority: 1, targets: 1 },
                    { responsivePriority: 1, targets: 2 }
                ],
                language: {
                "emptyTable": "No hay planes registrados",
                "search": "Buscar",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                    }
                },
                lengthChange: false,
                info: false,
            } );
        } );
    </script>
}
