@model IEnumerable<UI.Web.Models.EspecialidadViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div>
              <h1>Especialidades</h1>
        </div>

          <div class="ml-auto">
              <a class="btn btn-primary" asp-action="Nuevo">Crear especialidad</a>
          </div>
            
       
    </div>
</div>

<table id="table" class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id= item.Id }) |
                        @Html.ActionLink("Detalles", "Detalles", new { id = item.Id }) |
                        @Html.ActionLink("Borrar", "Borrar", new {  id= item.Id})
                    </td>
                </tr>
        }
    </tbody>
</table>

@section scripts {
   
<script type="text/javascript" src="~/js/initDatatables.js">
</script>
<script>
    init();
</script>
}


