@model IEnumerable<UI.Web.Models.EspecialidadViewModel>

@{
    ViewData["Title"] = "Index";
}

@{var tuple = ("Especialidades", "Especialidad");}
<partial for="@tuple" name="_HeaderGeneric" />
<div class="container-fluid">
    <table id="table" class="table table-striped  nowrap " style="width:100%;">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-wrap">
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td class="text-center">
                        <a class="btn btn-primary btn-sm" title="Editar comisión" asp-action="Editar" asp-route-id="@item.Id"><i class="fa fa-pencil fa-sm" aria-hidden="true"></i> Editar</a>
                        <a class="btn btn-danger btn-sm" title="Borrar comisión" asp-action="Borrar" asp-route-id="@item.Id"><i class="fa fa-trash fa-sm" aria-hidden="true"></i> Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>



@section scripts {
<script>
    $(document).ready(function () {
      let table = new DataTable('#table',{
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [1] }
                ],
                language: {
                    "emptyTable": "No existen alumnos registrados",
                    "search": "Buscar: ",
                    "zeroRecords":"No se han encontrado especialidades en la busqueda",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                responsive:true,
                pageLength: 5,
                lengthChange: false,
                info: false,
        });
    });
</script>
}
