@model IEnumerable<UI.Web.Models.CursoViewModel>

@{
    ViewData["Title"] = "Cursos";
}


    @{
        var tuple = ("Cursos", "Curso");
    }
    <partial for="@tuple" name="_HeaderGeneric" />

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center text-md-left p-2">
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Volver al inicio</a>
        </div>
    </div>
</div>

<div class="container">

    <table id="table" class="display responsive nowrap table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ComisionDescripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MateriaDescripcion)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.AnioCalendario)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Cupo)
                </th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComisionDescripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MateriaDescripcion)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.AnioCalendario)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Cupo)
                    </td>
                    <td class="text-center">
                        <a class="btn btn-secondary btn-sm" title="Generar reporte" asp-controller="Curso" asp-action="Reporte" asp-route-id="@item.Id">Generar reporte</a>
                      <a class="btn btn-primary btn-sm" title="Editar comisión" asp-action="Editar" asp-route-id="@item.Id"><i class="fa fa-pencil fa-sm" aria-hidden="true"></i> Editar</a>
                      <a class="btn btn-danger btn-sm" title="Borrar comisión" asp-action="Borrar" asp-route-id="@item.Id"><i class="fa fa-trash fa-sm" aria-hidden="true"></i> Borrar</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
            $(document).ready(function() {
            $('#table').DataTable( {
                responsive: true,
                columnDefs: [
                    { responsivePriority: 1, targets: 0 },
                    { responsivePriority: 1, targets: 1 },
                    { responsivePriority: 1, targets: 4 }
                ],
                language: {
                "emptyTable": "No hay especialidades registradas",
                "search": "Buscar",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                    }
                },
                lengthChange: false,
                info: false,
            } );
        } );
    </script>
}