@model AlumnoInscripcionHeadViewModel;

@{
    ViewData["Title"] = "Catedras";
}

@{
    var tuple = ("Catedras", "Plan");
}
<h2 class="display-6 text-center">Inscripciones del alumno</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center text-md-left p-2">
            <a asp-controller="AlumnoInscripcion" asp-action="NuevaInscripcion" asp-route-idAlumno="@Model.AlumnoId" class="btn btn-primary">Asignar nueva inscripción</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center text-md-left p-2">
            <a asp-controller="Inscripcion" asp-action="AlumnosCatedras" class="btn btn-secondary">Volver a Inscripciones de alumnos</a>
        </div>
    </div>
</div>
<div class="container">

    <table id="table" class="display responsive nowrap table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Materia
                </th>
                <th>
                    Condición
                </th>
                <th class="text-center">
                    Nota
                </th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AlumnoInscripciones)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curso.MateriaDescripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Condicion)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Nota)
                    </td>
                    <td>
                        <form method="post" asp-action="BorrarInscripcion">
                            <input id="inscripcionId" name="inscripcionId" hidden value="@item.Id" />
                        </form>
                        <button id="borrar" class="btn btn-danger btn-sm">Borrar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_ModalConfirmarBorrarInscripcion" />

@section scripts {
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                columnDefs: [
                    { responsivePriority: 1, targets: 0 },
                    { responsivePriority: 1, targets: 1 }
                ],
                language: {
                    "emptyTable": "No hay inscripciones registradas del alumno",
                    "search": "Buscar",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                lengthChange: false,
                info: false,
            });



            $(document).on("click", "button#borrar", function () {
                formSelected = $(this).closest('tr').find('form')

                $('#modalConfirmar').modal('show');
            });

            $('#btnConfirmar').click(function () {

                formSelected.submit();
                $("#modalConfirmar").modal("dismiss");
            });
        });
    </script>
}