@model CursoViewModel


<h3 class="text-center display-6">Profesores del curso @Model.MateriaDescripcion  - @Model.ComisionDescripcion - @Model.AnioCalendario</h3>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center text-md-left p-2">
            <a  asp-action="AsignarProfesor" asp-route-id="@Model.Id" class="btn btn-primary">Asignar nuevo profesor</a>
            <a asp-controller="InscripcionProfesor" asp-action="Index" class="btn btn-secondary">Volver</a>
        </div>
    </div>
</div>


<table id="table" class="table table-striped  nowrap " style="width:100%;">
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(DocenteCursoViewModel cur in Model.DocenteCursos)
        {
            <tr>
                <td>@cur.Docente.Apellido</td>
                <td>@cur.Docente.Nombre</td>
                <td>@cur.DocenteCargo</td>
                <td style="width:30%;" class="text-center">
                    <a class="btn btn-primary" title="Editar" asp-action="EditarAsignacionProfesor" asp-route-id="@cur.Id"> Editar asignación</a>
                    <a class="btn btn-danger" title="Borrar profesor" asp-action="Borrar" asp-route-id="@cur.CursoId">Borrar asignación</a>
                 </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                responsive: true,
                language: {
                    "emptyTable": "No hay profesores asignados a este curso",
                    "search": "Buscar",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                lengthChange: false,
                info: false,
            });
        });
    </script>
}